#noData{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 80vw;
    height: 30%;
    margin-top: 5%;
    position: fixed;
    color: #2c1762;
    font-size: 2rem;
    text-align: center;
    padding-top: 6%;
    margin-left: 2vw;
}