#yesDeleteButton{
  background-color: map-get($theme, "bg");
  color: map-get($theme, "color");
  float: right;
  }

#cancelDeleteButton{
  background-color: map-get($theme, "bg");
  color: map-get($theme, "color");
  }

#delete-modal {
  margin: 40vh 0 0 35vw;
  width: 55%;
  border-radius: 5%;
}
  
  #newCategoryClose{
      background-color: map-get($theme, "bg");
      color: map-get($theme, "color");
      position: relative;
      left: 20%;
      width: 15vw;
      margin-top: 2vh;
    }  
  
  
  #addNewUserForm{
     padding: 2% 3%;
     margin: 0 10vw;
     border: 1px solid rgb(231, 224, 224);
     background-color: white;
  }
  
  #add-user-modal{
      margin: 10% 10% 10% 25%;
  }
  
  #delete-modal-heading{
      color: #48415a;
      font-size: 1.6rem;
  }